#this just for use system not docker
#save in path with name<uwsgi-runner.service>: /etc/systemd/system/uwsgi-runner.service
#sudo systemctl active uwsgi-runner
#sudo systemctl start uwsgi-runner
#sudo systemctl status uwsgi-runner
#sudo systemctl stop uwsgi-runner


[Unit]
Description=uWSGI Runner
Requires=network.target
After=network.target


[Service]
TimeoutStartSec=0
RestartSec=10
Restart=always

WorkingDirectory=<path to uwsgi.ini>
KillSignall=SIGQUIT
Type=notify
NotifyAccess=all

ExecStart=/<path to>/venv/bin/uwsgi --ini /<path to>/uwsgi.ini

[Install]
WantedBy=multi-user.target
